spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bookstore
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  spring:
    ai:
      gigachat:
        auth:
          bearer:
            api-key: ZDU0MGFiYWYtMTQyZC00YjU5LTlkNzItZTBjOGUwYmRjNjI2OmI2MzBkYmFjLTJhMzAtNGNjYS1iMDE2LTdkZDI4ODhlMzRhZg==
          scope: GIGACHAT_API_PERS
          unsafe-ssl: true
        base-url: https://gigachat.devices.sberbank.ru/api/v1
        model: gigachat:latest
  flyway:
    enabled: true
    baseline-on-migrate: true
  thymeleaf:
    cache: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      file-size-threshold: 2KB